WEATHER_API_KEY=************************

INFLUXDB_MODE=***********
INFLUXDB_USERNAME=***********
INFLUXDB_PASSWORD=***********
INFLUXDB_ORG=***********
INFLUXDB_BUCKET=***********
INFLUXDB_ADMIN_TOKEN=***********
INFLUXDB_URL="***********"
